<div class="page-header">
  <h1>
    Friends requests
    <a href="/friends_requests/new" class="btn btn-lg btn-success">New Friends request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Actions</th>
      </tr>

      <% @friends_requests.each do |friends_request| %>
      <tr>
        <td>
          <% if friends_request.sender.present? %>
            <a href="/users/<%= friends_request.sender.id %>">
              <%= friends_request.sender.id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if friends_request.recipient.present? %>
            <a href="/users/<%= friends_request.recipient.id %>">
              <%= friends_request.recipient.id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/friends_requests/<%= friends_request.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == friends_request.sender %>
            <a href="/friends_requests/<%= friends_request.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_friends_request/<%= friends_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @friends_requests, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
