<div class="page-header">
  <h3>Friends Request #<%= @friends_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd><%= @friends_request.sender_id %></dd>

      <dt>Recipient</dt>
      <dd><%= @friends_request.recipient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends_requests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @friends_request.sender %>
        <a href="/friends_requests/<%= @friends_request.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_friends_request/<%= @friends_request.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
